@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --red: #ff3838;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    background: #0D0D0D;
}

/* navigation bar */
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 100px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: left;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    padding: 12px;
}

.navbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo .logo-text .vp-start {
    font-family: 'Montserrat', sans-serif;
    width: 236px;
    padding: 4px;
    font-size: 14px;
    font-weight: 700;
    text-align: start;
    line-height: 17.07px;
}

.navbar .logo .logo-text .innovation {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-size: 11px;
    font-weight: 400;
}

.navbar-right a:hover {
    color: #948D8C;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.navbar-right {
    float: right;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.navbar .icon {
    display: none;
}

/* slide show image */
.slideshow-container {
    position: relative;
    height: 100%;
}

.slide-item {
    display: none;
}

.bgimg {
    height: 750px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg::after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide-control {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 10px;
    text-align: center;
}

/* drop down overlay */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: relative;
    width: 100%;
    height: 680px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    opacity: 0.8;
}

.overlay-content .product-menu {
    position: relative;
    width: 879px;
    height: 680px;
    top: 0px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: end;
}

.overlay-content .product-menu .menu a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.overlay-content img {
    position: relative;
    width: 800px;
    min-height: 680px;
    left: 0px;
    top: 0px;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* section */
.section {
    position: relative;
    background-image: url('assets/images/solution-digital.jpg');
    height: 750px;
    text-align: center;
    background-position: center center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.content .header h1 {
    width: 1032px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 150%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-view-product {
    width: 198px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    display: inline-block;
    border: 1px solid white;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
}

.btn-view-product:hover {
    background-color: white;
    color: #000;
}

/* our solution */
.our-solutions {
    margin: 0 100px;
    color: #fff;
}

.our-solutions-header h1 {
    color: #fff;
}

.our-solution-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.smartgrid,
.aliencheck,
.home-automation,
.smart-city,
.cloud-service {
    width: 600px;
    height: 467px;
}
.smartgrid{
    background-image:url("assets/images/smartgrid.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.smartgrid:hover{
    background-image:url("assets/images/smartgrid-hover.png") ;
}
.aliencheck{
    background-image:url("assets/images/aliencheck.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.aliencheck:hover{
    background-image:url("assets/images/aliencheck-hover.png") ;
}
.home-automation{
    background-image:url("assets/images/home-automation.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.home-automation:hover{
    background-image:url("assets/images/home-automation-hover.png") ;
}
.smart-city{
    background-image:url("assets/images/smart-city.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.smart-city:hover{
    background-image:url("assets/images/smart-city-hover.png") ;
}
.cloud-service{
    background-image:url("assets/images/cloud-service.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}
.cloud-service:hover{
    background-image:url("assets/images/cloud-service-hover.png") ;
}
@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* fade animation */

.fade {
    animation-name: fade;
    animation-duration: 3.0s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.0s;
}

@keyframes fade {
    from {
        right: 0;
    }

    to {
        left: 0
    }
}

@-webkit-keyframes fade {
    from {
        right: 0
    }

    to {
        left: 0
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 10px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .icon {
        display: block;
        position: absolute;
        top: 13px;
        right: 13px;
    }

    .navbar.show {
        background: var(--black);
    }

    .navbar.show .menu {
        display: block;
        width: 100%;
    }

    .navbar.show .menu a {
        width: 100%;
    }


}