@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --red: #ff3838;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    background: #0D0D0D;
}


/* navigation bar */



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);


}

.main-navbar {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: left;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    padding: 12px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .logo-text .vp-start {
    font-family: 'Montserrat', sans-serif;
    width: 236px;
    padding: 4px;
    font-size: 14px;
    font-weight: 700;
    text-align: start;
    line-height: 17.07px;
    color: #fff;
}

.logo .logo-text .innovation {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-size: 11px;
    font-weight: 400;
}

.navbar-right a:hover {
    color: #948D8C;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.navbar-right a {
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
}

.navbar .icon {
    display: none;
}

/* slide show image */
.slideshow-container {
    position: relative;
    height: 100%;
}

.slide-item {
    display: none;
}

.bgimg {
    height: 750px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg::after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide-control {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 10px;
    text-align: center;
}
/* drop down overlay */
.overlay {
    height:0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    transition: all 550ms ;
    animation-play-state: running;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(0, 0, 0,0.9);
    
}

.overlay-content .product-menu {
    position: relative;
    width: 879px;
    top: 0px;
    display: grid;
    margin-right: 100px;
    justify-items: end;
}
.overlay-content .product-menu .menu a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.overlay-content img {
    position: relative;
    width: 700px;
    height: 580px;
    left: 0px;
    top: 0px;
}
.overlay-language{
    height:0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    transition: all 550ms ease-out;
    animation-play-state: running;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.overlay-language .overlay-content-language{
    margin-top: 80px;
    margin-right: 140px;
}
.overlay-language .overlay-content-language .language{
    width: 217px;
    height: 180px;
    border: 1px solid #767171;
    border-radius: 8px;
    background: #000;
    display: grid;
    flex-direction: row-reverse;
    grid-template-columns: auto;
}
.overlay-content-language .language a{
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #767171;
}
.overlay-content-language .language a:hover{
    color: #767171;
    font-style: normal;
}
/* section */
.section {
    position: relative;
    height: 750px;
    text-align: center;
    background-position: center center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.content .header h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 150%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-view-product {
    width: 198px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    display: inline-block;
    border: 1px solid white;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
}

.btn-view-product:hover {
    background-color: white;
    color: #000;
}

/* our solution */
.our-solutions,
.our-project,
.testimonial {
    margin: 0 100px;
    color: #fff;
}

.our-solution-grid {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.smartgrid,
.aliencheck,
.home-automation,
.smart-city,
.cloud-service {
    width: 600px;
    height: 467px;
}

.smartgrid {
    cursor: pointer;
    background-image: url("../images/our-solutions/smartgrid.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}

.smartgrid:hover {
    background-image: url("../images/our-solutions/smartgrid-hover.png");
}

.aliencheck {
    cursor: pointer;
    background-image: url("../images/our-solutions/aliencheck.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;

}

.aliencheck:hover {
    background-image: url("../images/our-solutions/aliencheck-hover.png");
}

.home-automation {
    cursor: pointer;
    background-image: url("../images/our-solutions/home-automation.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;

}

.home-automation:hover {
    background-image: url("../images/our-solutions/home-automation-hover.png");
}

.smart-city {
    cursor: pointer;
    background-image: url("../images/our-solutions/smart-city.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;

}

.smart-city:hover {
    background-image: url("../images/our-solutions/smart-city-hover.png");
}

.cloud-service {
    cursor: pointer;
    background-image: url("../images/our-solutions/cloud-service.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;

} 

.cloud-service:hover {
    background-image: url("../images/our-solutions/cloud-service-hover.png");
}

/* our-project */
.our-project-vdo {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vdo {
    border-radius: 10px;
}

.get-in-touch,
.surveys-inspection,
.luanch-execute,
.proposal,
.after-sale-support {
    height: 500px;
    margin: 50px 0;
    background-position: center center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

/* get-in-touch */
.get-in-touch {
    background-image: url("../images/get-in-touch/get-in-touch.png");
}

/* surveys-inspection */
.surveys-inspection {
    background-image: url("../images/surveys/survey-inspection.png");
}

/* proposal */
.proposal {
    background-image: url("../images/proposal/proposal.png");
}

/* luanch-execute */
.luanch-execute {
    background-image: url("../images/luanch/luanch-execute.png");
}

/* after-sale-support */
.after-sale-support {
    background-image: url("../images/sale-support/support.png");
}

/* testimonial */
.testimonial {
    margin-bottom: 20px;
}

 .btn-see-all {
    display: flex;
    justify-content: end;
    align-items: center;

}

 .btn-see-all button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

 .btn-see-all button:hover {
    color: #948D8C;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.testimonial .grid-col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;

}

/* footer */
.footer{
    height: 366px;
    border-top: 1px solid #767171;
}
.footer .logo-company a {
    text-decoration: none;
}

.footer .grid-col-6 {
    color: #fff;
    margin: 70px 0;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto auto;
}

.footer header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.footer a:hover {
    color: #948D8C;
    font-style: italic;

}

/* sub footer */
.sub-footer {
    padding: 15px 0;
}

.copy-right {
    border-top: 1px solid #767171;
    color: #fff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    padding: 20px;
}

/* component */
.sub-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.card-title h1 {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.card section {
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

}

.card section div {
    margin-left: 150px;
}

.card section header {
    width: 302px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
}

.card section p {
    width: 525px;
    height: 108px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.card-text {
    width: 396px;
    height: 176px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.card-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-profile-name {
    margin-left: 25px;
    align-items: self-start;
}

.card-profile-image img {
    width: 84.86px;
    height: 84.86px;
    border-radius: 50%;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* fade animation */

.fade {
    animation-name: fade 3s ;
    animation-duration: 3.0s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.0s;
}

@keyframes fade {
    from {
        right:0;
    }

    to {
        left: 0;
    }


}

@-webkit-keyframes fade {
    from {
        right: 0;
    }

    to {
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 10px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .icon {
        display: block;
        position: absolute;
        top: 13px;
        right: 13px;
    }

    .navbar.show {
        background: var(--black);
    }

    .navbar.show .menu {
        display: block;
        width: 100%;
    }

    .navbar.show .menu a {
        width: 100%;
    }


}